table{
    border-collapse: collapse;
    /* ma propriété border-collapse détermine si les bordures sont séparées ou fusionnées */
    width: 700px;
    height: 100px;
    margin: 0 auto;
}

th{
    background: #f40c80;
}

td,th{
    padding: 7px;
    border: 1px solid;
    text-align: center;
}

/*
th représente les entetes/colonnes du tableau
tr représente une nouvelle ligne du tableau
td représente une cellule du tableau
collspan permet de fusionner les cellules horizontalement
rowspan permet de fusionner les cellules verticalement
ma propriété border-collapse détermine si les bordures sont séparées ou fusionnées
*/
