#conteneur{
	width: 1000px;
	margin: 0 auto;
	border: 2px solid #000000;
}

header{
	background: green;
	height: 100px;
}
nav{
	background: purple;
	height: 30px;
}

section{
	background: yellow;
	height: 500px;
	margin: 20px;
}

footer{
	background:green;
	height: 100px;
}

.a{
	background: green;
	width: 480px;
	height: 250px;
	float: left;
}

.b{
	background: yellow;
	width: 480px;
	height: 250px;
	float: left;
}

.c{
	background: grey;
	width: 480px;
	height: 250px;
	float: left;
}

.d{
	background: blue;
	width: 480px;
	height: 250px;
	float: left;
}

clear{
 clear: both;
}

@media screen and (max-width: 1050px) {
    #conteneur{width :750px;}
	.a, .c{width: 355px; }
	.b, .d{width: 355px; }
section, footer, nav, header, .c, .d, .g{width: 710px;}
}


@media screen and (max-width: 780px) {
    #conteneur{width :550px; }
	.a, .c{ width: 255px; }
	.b, .d{ width: 255px; }
section, footer, nav, header, .c, .d{width :510px;}
}



@media screen and (max-width: 580px) {
    #conteneur{width :100%;}
.a, .b, .c, .d{width :100%; height: 125px;}
section{margin: 0;}
}
