p{
    display: table; /* simule le comportement d'un tableau */
}

span{
    display: table-cell; /*equivault à une cellule <td> d'un tableau */
}

img{
    margin: 0 20px 0 0;
}

                /* haut droite bas gauche
/* margin/padding : 10px 9px 8px 7px;
10px en haut - 9px à droite - 8 px en bas 7 px à gauche

                haut/bas  gauche/droite
margin/padding : 10px    7px;
10px en haut et en bas et 7px a gauche et à droite

margin/padding: 10px; marge de 10px tout autour

margin: marge à l'intérieur d'un bloc, d'un élément
margin-left/ margin right / margin-top / margin-bottom
margin gauche/ droite/haut/bas

padding: marge à l'intérieur d'un bloc, d'un élément
padding-left/ padding right / padding-top / padding-bottom
padding gauche/ droite/haut/bas

*/
