body{
    background: #000000 url(fond1.jpg) no-repeat;
    background-size: cover; /* cover en css3 permet de couvrir tout l'écran*/
}

.contenu{
    background-color: rgba(240, 107, 27, 0.3);
    width: 800px;
    height: 500px;
    margin: 200px auto 0 auto;
}

.contenu p{ /* cela permet de centrer du texte verticalement et horizontalement*/
    text-align: center;
    position: relative;
    top: 50%;
}
