nav{
    background: #dea5a5;
    position: fixed; /* le menu a une position fixe lors de la descente dans la page */
    text-align: center; /* alignement du texte centré */
    width: 100%; /* largeur 100% de la fenêtre */
    top: 0; /* aligné à 0px du haut */
    left: 0; /* aligné à 0px de la gauche */
}

#contenu{
    border: 2px solid #336699;
    margin: 30px 0 0 0;
}
