p{
    margin: 0;
}

.orange{
    color: #ff9c00;
    border: 1px solid #336699;
    position: relative;
    top: 30px;
    left: 30px;
}

#zone{
    border: 2px solid #336699;
}

/*
lorsque la position relative est appliquée sur un élément, cet élément se place ou s'écarte par rapport à lui même, il s'écarte par rapport à sa position initiale(et non pas par rapport à la div dans laquelle l'élément est contenu, ni le bord, ni la fenêtre)
