html, body, div, span, h1, h2, h3, p, menu, nav, footer, header{
    margin: 0;
    padding: 0;
    text-decoration: none
    border: 0;
}

/*
plusieurs éléments (dans cet exemple : h1, p) hérite de marges et autres qu'on ne souhaite pas toujours conserver

en faisant un rest, on nenous impose rien; ensuite, rien ne nous empeche de définir notre propre style et d'être maitre de nos choix.
